# Predicting the Tony Awards, 2019

In [2]:
import pandas as pd
import seaborn as sns
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error, r2_score
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

In [3]:
predictor_award_files = ['bcom.csv','dd.csv','dl.csv','occ.csv']
tony_file = 'tony.csv'

In [4]:
tony = pd.read_csv(tony_file,skiprows=0,index_col=False)

In [5]:
tony.head()

   Year         Category                Nominee  Won
0  2000            Actor  Brian Stokes Mitchell  1.0
1  2000          Actress        Heather Headley  1.0
2  2000         Director      Michael Blakemore  1.0
3  2000    FeaturedActor            Boyd Gaines  1.0
4  2000  FeaturedActress           Karen Ziemba  1.0

In [ ]:
awards = []
for f in predictor_award_files:
    df = pd.read_csv(f,skiprows=0,index_col=False)
    awards.append(df)
pretonys = pd.concat(awards,axis=0,sort=True)

In [21]:
pretonys.loc[pretonys.Category=='Music','Category'] = 'Score'

In [22]:
pretonys.pivot_table(index='Award',columns='Category',values='Tony',aggfunc=np.nanmean)

Category,Actor,Actress,Director,FeaturedActor,FeaturedActress,Musical,Revival,Score
Award,,,,,,,,
Broadway.com,0.421053,0.473684,NaN,0.062500,0.312500,0.368421,0.368421,NaN
DramaDesk,0.578947,0.526316,0.684211,0.473684,0.578947,0.631579,0.789474,0.473684
DramaLeague,NaN,NaN,NaN,NaN,NaN,0.684211,0.812500,NaN
OuterCritics,0.473684,0.526316,0.789474,0.421053,0.526316,0.631579,0.684211,0.461538

In [28]:
award_points

Category,Actor,Actress,Director,FeaturedActor,FeaturedActress,Musical,Revival,Score
Award,,,,,,,,
Broadway.com,17.728532,22.437673,NaN,0.390625,9.765625,13.573407,13.573407,NaN
DramaDesk,33.518006,27.700831,46.814404,22.437673,33.518006,39.889197,62.326870,22.437673
DramaLeague,NaN,NaN,NaN,NaN,NaN,46.814404,66.015625,NaN
OuterCritics,22.437673,27.700831,62.326870,17.728532,27.700831,39.889197,46.814404,21.301775

## Best Musical

In [29]:
pretonys.loc[(pretonys.Category=='Musical') & (pretonys.Won==1),:].pivot(index='Year',columns='Award',values='Nominee')

Award,Broadway.com,DramaDesk,DramaLeague,OuterCritics
Year,,,,
2000,The Wild Party,Contact �,Contact,Contact
2001,The Producers,The Producers �,The Producers,The Producers
2002,Urinetown,Thoroughly Modern Millie �,Urinetown,Urinetown / The Dazzle
2003,Hairspray,Hairspray �,Hairspray,Hairspray
2004,Wicked,Wicked �,Wicked,Wicked
2005,Dirty Rotten Scoundrels,Monty Python's Spamalot �,Dirty Rotten Scoundrels,Monty Python's Spamalot
2006,The Color Purple,The Drowsy Chaperone �,Jersey Boys,Jersey Boys��
2007,Spring Awakening,Spring Awakening �,Spring Awakening,Spring Awakening
2008,Young Frankenstein,Passing Strange �,A Catered Affair,Xanadu / Young Frankenstein
2009,Billy Elliot,Billy Elliot the Musical �,Billy Elliot,Billy Elliot the Musical
2010,The Addams Family,Memphis �,Sondheim on Sondheim,Memphis
2011,Sister Act,The Book of Mormon �,The Book of Mormon,The Book of Mormon
2012,Newsies,Once �,Once,Once
2013,Kinky Boots (Book by Harvey Fierstein; Music a...,Matilda the Musical �,Kinky Boots,Kinky Boots
2014,If/Then (Book & Lyrics by Brian Yorkey; Music ...,A Gentleman's Guide to Love and Murder �,A Gentleman's Guide to Love and Murder�,A Gentleman's Guide to Love & Murder
2015,Finding Neverland,Hamilton �,An American In Paris,An American in Paris
2016,Hamilton,Shuffle Along �,Hamilton,Bright Star
2017,Dear Evan Hansen,Come from Away �,Dear Evan Hansen,Come From Away
2018,Mean Girls,SpongeBob SquarePants �,The Band's Visit,Spongebob Squarepants
2019,Be More Chill,The Prom,Hadestown,Hadestown